*{margin: 0;padding: 0;box-sizing: border-box;}
body{background-color:rgb(68, 68, 245)}

header{
    display: flex;
    flex-direction: column;
    margin: 3rem 3rem 0 3rem;    
    align-items: center;    
    background-color:white;    
    border-radius: 1rem 1rem 0 0;
    text-align: center;
}
header img{  
    margin-top:1rem;    
    border-radius: 0.25rem;    
    height: 15vw;
    width: 90vw;
    object-fit: cover;
    margin-bottom: 1rem;
    box-shadow: -5px 10px 63px -7px rgba(0,0,0,1);
-webkit-box-shadow: -5px 10px 63px -7px rgba(0,0,0,1);
-moz-box-shadow: -5px 10px 63px -7px rgba(0,0,0,1);
    border: white solid 1px;
}
main{   
    background-color: white;    
    margin: 0 3rem 0 3rem;    
    border-radius: 0 0 .2rem .2rem    
}
main h1{
    text-align: center;
    font-size: 18px;
}
main section{    
    justify-content:left;
    padding: 2rem;
}

